@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --black: #171718;
  --blackpure: #000;

  --gray: #767676;

  --black-border: #26292d;
  --white: #f9f9f9;
  --whitepure: #fff;

  --blue: #147efb;

  /* Nav */
  --nav-bg: var(--whitepure);
  --nav-text: var(--black);

  /* Header */
  --header-bg: var(--white);
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  --page-bg: #f9f9f9;
  --text-color: var(--black);
  --accent: var(--blue);
  --title-1: var(--black);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

html,
body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
}

#root {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* General */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.section {
  padding: 50px;
}

.title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;

  transition: opacity 0.2s ease-in;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Btn outline */

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  padding: 12px 20px;
  margin-top: 30px;

  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;

  transition: opacity 0.2s ease-in;
}

.btn-outline:hover {
  opacity: 0.8;
}

.btn-outline:active {
  position: relative;
  top: 1px;
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.project-details-cover {
  max-width: 100%;
  margin-bottom: 40px;

  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.project-details-desc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

/* Content category */

#skills {
  background-color: var(--white);
}

.content-category-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 60px;
}

.content-category {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 0 10px;
  text-align: center;
}

.content-category h2 {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.content-category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.content-category-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.content-category-list-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.content-category-list-item img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  text-align: center;
}

.content-list a {
  color: var(--accent);
}

.content-list-item {
  font-size: 18px;
  line-height: 1.5;
}

.content-list-item p + p {
  margin-top: 0.5em;
}

/* About */

#about {
  background-color: var(--white);
}

#about-img {
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about-text-container {
  max-width: 50%;
  margin-right: 20px;
}

.intro {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.intro span {
  display: inline-block;
}

.about-description {
  color: var(--gray);
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-group {
  display: flex;
  gap: 20px;
}

.btn-contact {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.btn-contact:hover {
  opacity: 0.8;
}

.btn-black {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.btn-black:hover {
  opacity: 0.8;
}

.about-image {
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 620px) {
  /* Header  */

  .header {
    min-height: unset;
  }

  .header-title {
    font-size: 30px;
  }

  .header-title strong {
    font-size: 40px;
  }

  /* Nav */

  .nav-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-row a {
    margin: 10px 0;
  }

  /* General */

  .section {
    padding: 30px 0;
  }

  .title-1 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  /* Projects */

  .project-title {
    font-size: 22px;
  }

  /* Project page */

  .project-details-desc {
    margin-bottom: 20px;
    font-size: 22px;
  }

  /* Content category */

  .content-category h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .content-category-list {
    width: 100%;
  }

  .content-category-container {
    flex-direction: column;
  }

  .content-category {
    max-width: none;
    margin-bottom: 20px;
  }

  /* Footer */

  .footer {
    padding: 40px 0 30px;
  }

  .footer-wrapper {
    row-gap: 20px;
  }

  /* Social */

  .social {
    column-gap: 20px;
  }

  .social-item {
    width: 28px;
  }

  /* About */

  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-text-container {
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 auto;
  }

  .about-image {
    width: 100%;
  }

  .intro {
    font-size: 36px;
  }

  .btn-group {
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }

  .btn {
    text-align: center;
  }
}
